.navbar{
    background-color:cyan;
    padding: 10px;
    width: 100%;
    margin-top: 0% 0 0 ;
 }

 .vehiculos {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px auto; 
    max-width: 600px
}

body{
    background-color:antiquewhite;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30px;
    color:darkblue;
    text-align: center;
}

h3{
    font-size: 18px; 
    color: #2b2eb1; 
    font-weight: normal; 
    margin-top: 10px; 
    text-align: center;
}

h5{
    font-size: 18px; 
    color: #141313; 
    font-weight: normal; 
    margin-top: 10px;  
}

h4{
    color: brown;
}

img {
    width: 50%; 
    height: auto;
    max-width: 100%; 
    max-height: 300px; 
}